node_modules
old
lavalink
lavalink/logs
dro,config.json
mus-config.json
mus-config-dev.json
Mystic-config.json
Mystic-bot.js
Mystic-bot.zip
dro-bot.zip
dro-bot - Copy.zip
drogobot-config.json
gfbot-config.json
Devgoton-config.json
devgoton-config.json